
@model ASPNETMVCFilter.Models.Registration.RegistrationVM

@section JavascriptInHead
{
    <script type="text/javascript">
        registrationModule.factory('myData', function()
        {
            return {
                courses: @Html.Raw(Model.Courses),
                instructors: @Html.Raw(Model.Instructors),
                students: @Html.Raw(Model.Students)
                };
        });
    </script>
}

<div>
    <h3>Registration</h3>

    <div class="row">
        <div class="col-md-2">
            <nav class="navbar bg-light navbar-light">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li>
                        <a href="/Registration/Courses" class="nav-link">Course</a>
                    </li>
                    <li>
                        <a href="/Registration/Instructors" class="nav-link">Instructors</a>
                    </li>
                    <li>
                        <a href="/Registration/Students" class="nav-link">Students</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            <div ng-view></div>
        </div>
 </div>

    
    
</div>