<div class="container">
    <div class="row">
        <div class="span10">
            <h2>Courses</h2>
        </div>
    </div>
    
    <div class="row"  style="margin-top: 30px;">
        <button ng-click="showApplyChangesDialog($event)" class="md-raised">
            Apply Changes
        </button>
    </div>


    <div class="row"  style="margin-top: 30px;">
        <table class="table table-bordered">
            <tr>
                <th>Course</th>
                <th>Course Name</th>
                <th>Instructor</th>
            </tr>
            <tr ng-repeat="course in courses">
                <td>{{course.number}}</td>
                <td>{{course.name}}</td>
                <td>{{course.instructor}}</td>
            </tr>
        </table>
    </div>
 </div>