<style type="text/css">
       .dropdown.dropdown-scroll .dropdown-menu {
  background-color: white;
  min-width: 375px;
  max-height: 250px;
  overflow: auto;
  border: 1px solid #293078;
   min-width: 230px;
}

      .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

  .dropdown-menu li a:hover {
  color: white;
 background-color: #293078;
 cursor: pointer;
}

.search-control {
  padding: 5px 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  max-height: 400px;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

datalist { 
  display: none;
width: 400px;
overflow:auto;
max-height: 200px;
}
md-content {
  background-color: #ECEFF1!important;
  padding: 10px;
}
.selected-item ~ .item .user,
.item:first-child .user {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.selected-item ~ .item .user.selected,
.item:first-child .user.selected {
  margin-top: 0;
}
.item:last-child .user {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.item .tile .folded {
  cursor: pointer;
}
.item .user {
  background-color: white;
  transition: all 500ms;
}
.item .user h3,
.item .user p {
  transition: all 500ms;
}
.item .user p {
  opacity: 1;
  height: inherit;
}
.item .user p.ng-hide {
  opacity: 0;
  height: 0;
}
.item .user.selected {
  margin: 30px -15px;
  border-radius: 2px;
}
.item .user.selected .expanded {
  visibility: visible;
}
.item .user.selected .expanded,
.item .user.selected .expanded > * {
  max-height: 700px;
  opacity: 1;
}
.item .user.selected .expanded .md-label {
  border: hidden;
}
.item .user.selected h3 {
  font-size: 1.8em;
}
.item .user .expanded {
  visibility: hidden;
}
.item .user .expanded,
.item .user .expanded > * {
  max-height: 0;
  opacity: 0;
  transition: all 500ms;
}
.item .user .expanded .split {
  padding: 10px;
}
.item .user .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  height: 20px;
  margin: 16px;
}

</style>

<div class="container">
    <div class="row">
        <div class="span10">
            <h2>Courses</h2>
        </div>
    </div>

    <md-content layout="row" flex layout-align="center" layout-fill>
        <div flex="70" class="content" ui-view>
            <md-item ng-repeat="user in users" class="item" ng-class="{ 'selected-item': $index == selectedUserIndex}">
                <md-item-content class="user tile md-whiteframe-z1" ng-class="{ 'selected md-whiteframe-z2': $index == selectedUserIndex}" layout="column">
                    <div layout="row" layout-fill ng-click="selectUserIndex($index)" class="folded">
                        <div class="md-tile-left">
                            <img ng-src="{{ user.face }}" class="face">
                        </div>
                        <div class="md-tile-content" layout="column" layout-align="center start">
                            <h3>{{ user.name.first + " " + user.name.last }}</h3>
                            <p ng-hide="$index == selectedUserIndex">
                                <span>Something</span>
                            </p>
                        </div>
                    </div>
                    <md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
                    <div layout="column" layout-fill class="expanded">
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                        <br />
                        <span>some content</span>
                    </div>
                </md-item-content>
                <md-divider class="divider-inset" ng-if="!$last"></md-divider>
            </md-item>
        </div>
        </md-content>
    <div class="row" style="margin-top: 30px;">
        <table class="table table-bordered">
            <tr>
                <th>Course</th>
                <th>Course Name</th>
                <th>Instructor</th>
            </tr>
            <tr ng-repeat="course in courses" class="item folded" ng-class="{ 'selected-item': $index == selectedUserIndex}" layout-fill ng-click="selectUserIndex($index)" >
                <td>{{course.number}}</td>
                <md-divider layout-fill ng-show="$index == selectedUserIndex"></md-divider>
                <div layout="column" layout-fill class="expanded">
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                    <br />
                    <span>some content</span>
                </div>
                <td>{{course.name}}</td>
                <td>{{course.instructor}}</td>
            </tr>
        </table>
    </div>
        <div class="row" style="margin-top: 30px;">
            <button ng-click="showApplyChangesDialog($event)" class="md-raised">
                Apply Changes
            </button>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-3">
                <div class="dropdown dropdown-scroll">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="width: 375px; height: 30px;">
                        <div style="float:right">
                            <span class="caret" style="text-align: right;"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <div class="input-group input-group-sm search-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" placeholder="Query" ng-model="query1" id="myInput" style="width: 100%;" />
                            </div>
                        </li>
                        <li role="presentation" ng-repeat='option in vendors | filter:query1'>
                            <a ng-click="myClickFunc(option.vendorId)"> {{option.vendorName}} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-5">
                <div style="width: 100%;">

                    <input type="text" ng-model="option.vendorId" list="names" ng-change="fetchId(opiton.vendorId)">
                    <datalist id="names" class="scrollable" ng-model="name">
                        <option ng-repeat="option in vendors | filter:option.vendorId" value="{{option.vendorId}}">{{option.vendorName}}</option>
                    </datalist>
                </div>
            </div>

            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" ng-click="myFunction()" ng-="myFunction()">
                        Select <span class="caret"></span>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" ng-model="query2">
                        <ul>
                            <li role="presentation" ng-repeat="option in vendors | filter:query2">
                                <a ng-click="myClickFunc(option.vendorId)">{{option.vendorName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <custom-select></custom-select>
            </div>
        </div>

</div>

    <div class="row" style="margin-top: 30px; height: 400px; overflow:scroll;">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>address1</th>
            </tr>
            <tr ng-repeat="vendor in vendors | filter:query1">
                <td>{{vendor.vendorId}}</td>
                <td>{{vendor.vendorNumber}}</td>
                <td>{{vendor.vendorName}}</td>
                <td>{{vendor.address1}}</td>
            </tr>
        </table>
    </div>

       


    </div>
