<div class="container">

    <div class="row">
        <div class="span10">
            <h2>Instructors</h2>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="span10">
            <button ng-click="showDialog($event)" class="md-raised">
                Custom Dialog
            </button>
            <button ng-click="showApplyChangesDialog($event)" class="md-raised">
                Apply Changes
            </button>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
            <table class="table table-bordered">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Subject</th>
                </tr>
                <tr ng-repeat="instructor in instructors">
                    <td>{{instructor.number}}</td>
                    <td>{{instructor.name}}</td>
                    <td>{{instructor.subject}}</td>
                </tr>
            </table>
    </div>
</div>
