

<md-dialog  flex="30"  id="arBillingNotes" aria-label="accounts receivable billing notes dialog">
    <form name="myForm" method="post">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Course
            </div>
        </md-toolbar>

        <md-container>
            <table style="width: 100%">
                <tr style="width: 100%; ">
                    <td style="width: 95%;  align-content:center;">
                        <textarea name="textarea" rows="10" ng-model="myTextArea" style="margin-left: 10px; margin-top: 10px; width: 95%; max-width: 98%;" required></textarea>
                        <label style="font-weight:600;color:red;font-size:20px;">*</label>
                    </td>
                </tr>
            </table>
        </md-container>
      

        <md-dialog-actions layout="row" ng-hide="showValidationOverrideMsg">
            <div layout="row" layout-align="end">
                <md-button default-action  class="md-raised md-primary md-button md-ink-ripple" ng-click="saveDialog($event)" ng-disabled="myForm.$invalid || myForm.$pristine">Save</md-button>
                <md-button ng-click="cancelDialog($event)">Cancel</md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
