

<md-dialog flex="40" flex-xs="100" id="arBillingNotes" aria-label="accounts receivable billing notes dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
               Course
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="container" layout="row" style="overflow: auto; max-height: 350px;">
               

            </div>

            <div class="container" layout="column" layout-padding>
                <div class="container" layout="row">
                 
                </div>
                <div class="container" layout="row">
                    <label>Billing Note : </label>
                </div>
                <div class="container" layout="row">
                   
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" ng-hide="showValidationOverrideMsg">
            <div layout="row" layout-align="end">
                <button ng-click="saveDialog($event)">Save</button>
                <button ng-click="cancelDialog($event)">Cancel</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
