
        <div class="container" style="height: 400px; width: 500px;">
            <div ng-repeat="instructor in instructors">
                Number: {{instructor.number}} Name: {{ instructor.name  }} Subject: {{ instructor.subject }}
            </div>
            <input type="text"  ng-model="myName" />
            <div>
                <textarea name="textarea" style="width:500px;height:200px;"  ng-model="myTextArea"></textarea>
            </div>
            <div>
                <button ng-click="saveDialog($event)">Save</button>
                <button ng-click="cancelDialog($event)">Cancel</button>
            </div>
        </div>
