<md-dialog flex="30" flex-xs="100" id="arBillingNotes" aria-label="accounts receivable billing notes dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                Instructors
            </div>
        </md-toolbar>

        <md-container>
            <table style="width: 100%">
                <tr style="width: 100%; ">
                    <td style="width: 100%;">
                        Name: <input type="text" ng-model="myName" layout="row" style="margin-left: 0px; margin-right: 0px; width: 100%; max-width: 100%;" />
                    </td>
                </tr>
                <tr style="width: 100%; ">
                    <td style="width: 100%;">
                        Subject: <textarea name="textarea" rows="10" ng-model="myTextArea" style="margin-left: 0px; margin-right: 0px; width: 100%; max-width: 100%;"></textarea>
                    </td>
                </tr>
            </table>
        </md-container>

        <md-dialog-actions layout="row" ng-hide="showValidationOverrideMsg">
            <div layout="row" layout-align="end">
                <button ng-click="saveDialog($event)">Save</button>
                <button ng-click="cancelDialog($event)">Cancel</button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
